.ic-calendar {
  width: auto;

  /* height: 100%; */
  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__date-pickers {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__date-switcher {
    margin-right: 20px;
  }
}