.container {
  width: auto;
  /* height: 100%; */
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.datePickers {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dateSwitcher {
  margin-right: 20px;
}
