.container {
  display: flex;
}

.left {
  background: #fff;
  height: 100%;
}

.right {
  flex-grow: 1;
  position: relative;
}

.labelRow {
  position: relative;
  height: 48px;
}

.label {
  padding-left: 12px;
  padding-right: 20px;
  font-size: 14px;
  color: #a0917f;
  position: relative;
  top: -10px;
  z-index: 9;
}

.bgRow {
  height: 48px;
  background: rgb(250, 247, 243);
}

.bgRow:nth-child(even) {
  background: #fff;
}
