.flex {
  display: flex;
  align-items: center;
}

.container {
  width: auto;
}

.groupHeader {
  composes: flex;
  justify-content: space-between;
  padding-right: 30px;
  margin-bottom: 8px;
}

.groupHeader img {
  width: 34px;
  height: 34px;
}

.dayTitle {
  background: rgb(210, 190, 165);
  padding-left: 30px;
  padding-right: 44px;
  color: #fff;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  position: relative;
}

.dayTitle::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  border-style: solid ;
  border-width: 18px 16px;
  border-color: transparent #fff transparent transparent;
}

.events {
  margin-bottom: 24px;
}

.eventCard {
  composes: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 32px;
  padding: 12px 0;
  border-bottom: solid 1px rgba(230, 222, 206);
}

.eventCardLeft {
  composes: flex;
  align-items: flex-start;
  width: 75%;
}

.eventCardRight {
  width: 25%;
}

.eventTime {
  composes: flex;
  width: 30%;
}

.eventTime::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: rgb(122, 159, 186);
  margin-right: 16px;
}

.eventTitle {
  width: 20%;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.eventContent {
  width: 50%;
}

.eventShort {
}

.eventDetail {
  color: #d2bea5;
  padding-left: 40px;
  margin-top: 12px;
}

.eventAttachment {
  text-align: right;
  /* margin-bottom: 8px; */
}

.eventAttachment img {
  width: 18px;
  height: 18px;
}

.eventImage {
  text-align: right;
  margin-top: 8px;
}

.eventImage img {
  width: 170px;
}
