.flex {
  display: flex;
  align-items: center;
}

.fontStyle {
  font-size: 16px;
  color: #a0917f;
}

.container {
  width: auto;
  composes: fontStyle;
}

.header {
  composes: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.dateRange {
  composes: flex;
}

.dateRange :global(.ant-select-selection) {
  width: 205px;
  height: 32px;
  border: solid 1px rgb(210, 190, 165);
  border-radius: 4px;
  background: transparent;
  color: #a69886;
  font-size: 16px
}

.dateRange :global(.ant-select-arrow) {
  color: #a69886;
}

.dateRangeLabel {
  margin-right: 20px;
}

.headerRightPart :global(.ant-checkbox-wrapper)  {
  font-size: 16px;
  color: #a0917f;
}

.headerRightPart :global(.ant-checkbox-checked) :global(.ant-checkbox-inner) {
  background: #a0917f;
  border-color: #a0917f;
}

.body {
  margin-top: 4px;
}
