.container {
  width: 14.28%;
  height: 124px;
  position: relative;
}

.container:not(:last-child) {
  border-right: solid 1px rgb(237, 228, 214);
}

.monthDay {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #a0917f;
}

.weekend {
  color: #f88628;
}

.otherMonthDay {
  color: #d2bea5;
}

.monthDayActive {
  background: rgb(210, 190, 166);
  color: #fff;
}

.event {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  overflow: visible;
}

.event > img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 4px;
}

.eventHidden {
  visibility: hidden;
}

.eventBar {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  border-radius: 0 10px 10px 0;
  padding: 0 8px;
  flex-grow: 1;
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 24px);
}

.eventBar:hover {
  cursor: pointer;
}

.eventTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  margin-left: 4px;
  flex-grow: 0;
}

.ellipse {
  color: rgb(122, 159, 186);
  font-size: 20px;
  padding-left: 3px;
  margin-top: -8px;
  line-height: 1;
}
