.ic-plan {
  &__title-row {
    margin-right: -1px;
    height: 56px;
    padding-left: 105px;
    border-bottom: solid 1px rgb(237, 228, 214);
  }

  &__classify {
    display: flex;
  }

  &__classify-item {
    height: 28px;
    min-width: 120px;
    line-height: 28px;
    text-align: center;
  }

  &__classify-item:not(:last-child) {
    border-right: solid 1px rgb(237, 228, 214);
  }

  &__single-classify-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
}
