.ic-plan {
  &__classify {
    overflow: auto;

    &-left {
      min-height: 28px;
      float: left;
      border-right: solid 1px rgb(237, 228, 214);
    }
  }

  &__classify-item {
    float: left;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-top: solid 1px rgb(237, 228, 214);
  }

  &__classify-item:not(:last-child) {
    border-right: solid 1px rgb(237, 228, 214);
  }

  &__single-classify-wrap {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__single-classify {
    flex: 1;
  }
}
